table{
    width: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-collapse: collapse;
    margin-bottom: 0;
}

th{
    background-color: gray;
    border: 2px solid white;
}

td{
    border: 2px dotted gray;
}

p{
    text-align: center;
    padding: 0;
}

table tr:nth-child(odd){
    background-color: lightgray;
}

table tr:hover{
    background-color: lightpink;
}